{% extends 'base.html.twig'%}

{% block body%}
    <h1>Bienvenue dans ce blog !</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum non assumenda ipsum suscipit, cumque rerum fugit,
    pariatur beatae eligendi corporis nam architecto reprehenderit in illum tenetur cum iure facere fuga nesciunt dolore vitae debitis, ullam? Enim accusantium deleniti exercitationem ea.</p>
    <p>Quo debitis illo expedita quidem quia perferendis ex eos consectetur dolores, vero nam nulla dolorem rerum distinctio cumque molestiae consequuntur ipsa quos iste doloribus! Veniam, 
    delectus nostrum accusamus ex et sint placeat nemo excepturi alias, rem, numquam explicabo. Quidem, laboriosam.</p>
{% endblock %}